<%require 'pry'%>
<br>
<br>

<% if user_signed_in? && @user.current_cart%>
  <h4><%= link_to "Cart", cart_path(@user.current_cart.id)%> </h4>
<%end%>


<% if @current_cart%>
  <h4><%= link_to "Cart", cart_path(@current_cart)%> </h4>
<%end%>

<br>
<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %>
<% end %>
<br>

<% @items.each do |item| %>
  <p><%= item.title %> | <%= "$#{item.price.to_f/100}" %> |
    <%if user_signed_in?%>

      <%= form_tag("/line_items?item_id=#{item.id}", method: "post") do %>
        <%= hidden_field_tag(:item_id, item.id)%>
        <%= submit_tag ("Add to Cart") %>
      <%end%>
    <% end %>
<%end%>


<br>
<br>
<% if user_signed_in? %>
  <%= "Signed in as #{@user.email}"%>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
 <% else %>
  <%= link_to "sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path%>
 <% end %>
