<%if @user%>
  <%= link_to "Cart", cart_path(@current_cart) %>
<%end%>
<br>

<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %>
<% end %>

<% @items.each do |item| %>
  <p><%= item.title %> | <%= "$#{item.price.to_f/100}" %> |
    <%if @user%>
      <%= button_to 'Add to Cart', edit_cart_path(@user.current_cart, item_ids: item.id )%></p>
    <%end%>
<% end %>
<br>
<br>
<% if user_signed_in? %>
  <%= "Signed in as #{@user.email}"%>
  <%= link_to "Sign out", destroy_user_session_path%>
 <% else %>
  <%= link_to "sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path%>
 <% end %>
