<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %>
<% end %>

<% @items.each do |item| %>
  <p><%= item.title %> | <%= "$#{item.price.to_f/100}" %> | <%= button_to 'Add to Cart', {controller: line_items, action:create, item_id: item.id, cart_id: @user.current_cart.id} %></p>
<% end %>

<% if user_signed_in? %>
  <%= "Signed in as #{@user.email}"%>
  <%= link_to "Sign out", destroy_user_session_path%>
 <% else %>
  <%= link_to "sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path%>
 <% end %>
